<div id="article-holder">
	{{#each articles}}
	  <div class="article-element">
		  <a href="{{link}}">
		  	<h2>{{headline}}</h2>
		  	<p class="byline">{{byLine}}</p>
		  	<p>{{summary}}</p>
		  	<button class="article-delete-btn" data-article="{{_id}}">Delete Article</button>
		  </a>
		  <div class="comments-holder" data-article="{{_id}}">
		  	<p class="comment-array" data-article="{{_id}}">{{notes}}</p>
		  </div>
		  <div class="add-comment-area">
			  <input type="text" class="title-input" data-article="{{_id}}" value="Title">
			  <textarea type="text" class="comment-input" data-article="{{_id}}" value="comment"></textarea>
			  <button class="comment-submit-btn" data-article="{{_id}}">Add Comment</button>
		  </div>
	  </div>
	{{/each}}
</div>
<script>
	finishPageLoad();
</script>